html {
  overflow-y: scroll;
}

body {
  padding-top: 5rem;
}

.btn-controls {
  margin: 0.25em auto;
}

.helics-table-container {
  max-width: 75em;
}

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-table/src/bootstrap-table";

@import "~bootstrap-darkmode/darktheme";
