html {
  overflow-y: scroll;
}

body {
  padding-top: 5rem;
}

.btn-controls {
  margin: 0.25em auto;
}

.helics-table-container {
  max-width: 75em;
}

.helics-float-container {
  padding: 1em;
}

.helics-float-child {
  width: 25em;
  //float: left;
  padding: 0.25em;
}

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-table/src/bootstrap-table";

@import "~bootstrap-darkmode/darktheme";
