html {
  overflow-y: scroll;
}

body {
  padding-top: 5rem;
}

.btn-controls {
  margin: 0.25em auto;
}

.helics-table-container {
  max-width: 75em;
  outline: 1px solid;
}

.helics-float-container {
  padding: 1em;
}

.helics-float-child {
  width: 95%;
  //float: left;
  padding: 0.25em;
}

#nav-debug {
  height: 100%;
}

.helics-query-response-block {
  width: 95%;
  padding: 0.25em;
  outline: solid 1px;
}

#queryResponseWindow {
  height: 75vh;
  overflow-y: scroll;
}

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-table/src/bootstrap-table";

@import "~bootstrap-darkmode/darktheme";
